aside.sidebar
    .sidebar__section.category
        +list('category', ['Флагманы', 'Бюджетная линейка'], '', 1)

    .sidebar__section
        ul.filters
            li.filters__item.filters__item_active
                h4.filters__title Наличие в магазинах
                .filters__inner.filters__inner_active
                    ul.sidebar__list
                        each item, index in ['Во всех магазинах', 'В ближайшем ко мне магазине']
                            li.sidebar__item
                                input(type='radio', id='shop_#{index}', name='shop', checked=index == 1).sidebar__radio
                                label(for='shop_#{index}', class='sidebar__label sidebar__label_radio') #{item}

            li.filters__item.filters__item_active
                h4.filters__title Бренды
                .filters__inner.filters__inner_active
                    ul.sidebar__list
                        each item, index in ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola']
                            li.sidebar__item
                                input(type='checkbox', id='brand_#{index}', name='brands[]', value='#{item}' checked=(index == 0 || index == 1 || index == 2)).sidebar__checkbox
                                label(for='brand_#{index}', class='sidebar__label sidebar__label_checkbox') #{item}

                    a(href='#').filters__reset Сбросить фильтр

            li.filters__item.filters__item_active
                h4.filters__title Цена
                .filters__inner.filters__inner_active
                    .price
                        .price__range
                            .price__range-from от
                                input(type='text', name='price[from]', class='price__range-input', value='1000', placeholder='')
                            .price__range-to до
                                input(type='text', name='price[to]', class='price__range-input', value='11000', placeholder='')
                        .price__slider(data-min='0' data-max='29300')

            li.filters__item.filters__item_active
                h4.filters__title Цвет
                .filters__inner.filters__inner_active
                    ul.colors
                        each color, index in ['white', 'grey', 'black', 'darkblue', 'red', 'yellow', 'orange', 'green', 'blue', 'purple', 'pink', 'brown']
                            li.colors__item
                                input(type='checkbox', id='color_#{index}', name='colors[]', value='#{color}' checked=index == 1).sidebar__checkbox
                                label(for='color_#{index}', class='colors__label', style='background-color: #{color}')

            li.filters__item.filters__item_active
                h4.filters__title Операционные системы
                .filters__inner.filters__inner_active
                    ul.sidebar__list
                        each item, index in ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom']
                            li.sidebar__item
                                input(type='checkbox', id='os_#{index}', name='os[]', value='#{item}' checked=(index == 0 || index == 1 || index == 2)).sidebar__checkbox
                                label(for='os_#{index}', class='sidebar__label sidebar__label_checkbox') #{item}

                    a(href='#').filters__reset Сбросить фильтр