mixin list(baseClass, items, mod, indexActive)
    ul(class='#{baseClass}__list' + (mod ? ' #{baseClass}__list_#{mod}' : ''))
        each item, index in items
            if typeof(item) === 'object'
                li(class='#{baseClass}__item' + (index == indexActive ? ' #{baseClass}__item_active' : ''))
                    a(href=item.link class='#{baseClass}__link' + (item.mod ? ' #{baseClass}__link_#{item.mod}' : ''))&attributes(item.blank ? {'target': '_blank'} : {})
                        | !{item.text}
            else
                li(class='#{baseClass}__item' + (index == indexActive ? ' #{baseClass}__item_active' : ''))
                    a(href='#', class='#{baseClass}__link') !{item}